/* ==========================================================================
   Screen Width Below 1180px
========================================================================== */

@media only screen and (max-width: 1180px) {

    .post-main-container {
        grid-template-areas: 
        "search-section history-section"
        "current-section current-section"
        "forecast-section forecast-section";
        grid-template-rows: repeat(2, 1fr) 3fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .forecast-container {
        grid-template-areas:
        "forecast-heading"
        "forecast-labels"
        "day1-data"
        "day2-data"
        "day3-data"
        "day4-data"
        "day5-data";
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: 1fr;
        width: 95%;
    }

    .forecast-container
    .label-container,
    .day1-container,
    .day2-container,
    .day3-container,
    .day4-container,
    .day5-container {
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr; 
        gap: 1rem;
    }

    #error-modal {
        width: 50%;
    }

}

/* ==========================================================================
   Screen Width Below 975px
========================================================================== */

@media only screen and (max-width: 975px) {

    .body-container {
        grid-template-rows: 0.75fr 9fr 0.25fr;
        grid-template-columns: 1fr;
        height: 100vh;
    }

    .header-container {
        grid-template-areas:
        "header-heading"
        "location";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .post-main-container {
        grid-template-areas: 
        "search-section history-section"
        "current-section current-section"
        "forecast-section forecast-section";
        grid-template-rows: 1fr 2fr 3fr;
        grid-template-columns: repeat(2, 1fr);
    }

    .day0-container {
        grid-template-areas:
        "day0-date day0-day"
        "day0-descr day0-icon"
        "day0-temp day0-feels"
        "day0-wind day0-humid";
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        grid-template-areas:
        "data-source"
        "github";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
    }

}

/* ==========================================================================
   Screen Width Below 768px
========================================================================== */

@media only screen and (max-width: 768px) {

    .pre-main-container {
        grid-template-areas: 
        "search-section"
        "history-section";
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }

    .post-main-container {
        grid-template-areas: 
        "search-section"
        "history-section"
        "current-section"
        "forecast-section";
        grid-template-rows: repeat(2, 1fr) 2fr 12fr;
        grid-template-columns: 1fr;
    }

    .day0-container {
        grid-template-areas:
        "day0-date day0-day"
        "day0-descr day0-icon"
        "day0-temp day0-feels"
        "day0-wind day0-humid";
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    .forecast-container {
        grid-template-areas:
        "forecast-heading"
        "day1-data"
        "day2-data"
        "day3-data"
        "day4-data"
        "day5-data";
        grid-template-rows: 1fr repeat(5, 5fr);
        grid-template-columns: 1fr;
        width: 95%;
    }

    #forecast-labels {
        display: none;
    }

    .forecast-container
    .label-container,
    .day1-container,
    .day2-container,
    .day3-container,
    .day4-container,
    .day5-container {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        width: 95%; 
    }

    #day1-data,
    #day2-data,
    #day3-data,
    #day4-data,
    #day5-data {
        width: 60%;
    }

    #error-modal {
        width: 75%;
        height: 50%;
    }

}

/* ==========================================================================
   Screen Width Below 500px
========================================================================== */

@media only screen and (max-width: 500px) {

    .post-main-container {
        grid-template-rows: repeat(2, 0.75fr) 3fr 10fr;
    }

    .current-container {
        grid-template-areas: 
        "current-heading"
        "current-data";
        grid-template-rows: 1fr 8fr;
        grid-template-columns: 1fr;
    }

    .day0-container {
        grid-template-areas:
        "day0-date"
        "day0-day"
        "day0-descr"
        "day0-icon"
        "day0-temp"
        "day0-feels"
        "day0-humid"
        "day0-wind";
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: 1fr;
    }

    #day1-data,
    #day2-data,
    #day3-data,
    #day4-data,
    #day5-data {
        width: 95%;
    }

}